
@media only screen and (max-width: 640px) {

  .menu{
    padding-top: 200px;
  }

  #navbar input{
    top: 10px;
    right: 14px;
    width: 30px;
    height: 30px;
  }
  #hamburgerSpan1, #hamburgerSpan2, #hamburgerSpan3{
    width: 23px;
    height: 4px;
    right: 20px;
    top: 20px;

  }

  #hamburgerSpan2 {
    top: 27px;
  }

  #hamburgerSpan3 {
    top: 34px;
  }

  #navbar input:checked~#hamburgerSpan1{
    top: 30.5px;
    right: 19.5px;
    width: 12px;
    height: 4px;
  }
  #navbar input:checked~#hamburgerSpan2{
    right: 20px;
    width: 20px;
  }
  #navbar input:checked~#hamburgerSpan3{
    top: 23.3px;
    right: 19px;
    width: 12px;
    height: 4px;
  }

  #smallHeader{
    font-size: 22px;
    height: 58px;
    line-height: 58px;
  }

  .menu li {
    display: block;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
  }
  .logoSmallDiv {
    position: absolute;
    top:-75px;
  }

  .pageHeader {
    font-size: 60px;
  }

  #tabs{
   flex-direction: column;
  }
  .box {
    margin-bottom: 25px;
  }
  .box:last-child {
    margin-bottom: 0;
  }

  .boxContent {
    padding: 30px;
  }
}
