@import url('https://fonts.googleapis.com/css?family=Merienda:400,700&subset=latin-ext');

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merienda', sans-serif;
  min-height: 100vh;
}

p {
  line-height: 25px;
}

#navbar-mobile {
  display: none;
}

#navbar-web {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.menu-web {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  text-align: center;
  z-index: 3;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.menu-active {
  border-bottom: 5px solid #142657;
  border-radius: 5px;
  font-weight: bold;
}

.menu-web > li, .menu-mobile > li {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  color: #142657;
}

.menu-web > li > a, .menu-mobile > li > a {
  text-decoration: none;
  color: #142657;
  font-size: 22px;
}

.logoSmallDiv {
  position: fixed;
  top: 0;
  left:0;
  box-sizing: border-box;
  height: auto;
  z-index: 5;
}

#logoSmall {
  margin: 13px;
  width: calc(669px * 0.10);
  height: calc(582px * 0.10);
  cursor: pointer;
}

/*jeden div je mainContainer, kterej je vzdy vysoky tak, aby paticka byla na konci stranky.
 Je bran v potaz hard coded height paticky*/

.mainContainer {
  min-height: calc(100vh - 61px);
  padding-top: 40px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.pageHeader {
  font-size: 100px;
  max-width: 1200px;
  color: white;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}

.paragraphWrapper {
  border: solid #fff 8px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  border-radius: 5px;
}

.paragraphWrapperBorder {
  max-width: 1200px;
  border: solid #142657 8px;
  background-color: rgba(255,255,255,0.85);
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 0 auto;

}

#paragraphMasaze   {
  max-width: 1200px;
  color: black;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.masazeImgDiv {
  min-width: 300px;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.masazeImgDiv > img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}


#tabs {
  display: flex;
  color: #142657;
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: auto;
  align-items: center;
  border: 3px solid #142657;
}

.box {
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.box:hover {
    cursor: pointer;
}

.box h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  /* color: white; */
}

#wrapperBoxContent {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;

}


.boxContent {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-radius: 5pvx;
  background-color: white;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  padding: 60px;
  padding-top:40px;
  box-sizing: border-box;
  display: none;
  opacity: 1;
  transition: all .3s ease;
  /* animation: grow .3s ease; */
}

.vyzivaContent {
  display: block;
}

.justContent {
  display: flex;
  flex-direction: row;
}


.boxContentPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  padding-left: 20px;
}

.massageList {
  margin-bottom: 50px;
}
.masazeInfo {
  margin-top: 50px;
}

.active {
  border-bottom: solid 5px #142657;
  border-radius: 5px;
}

.active:hover{
  box-shadow: none;
}

.active:hover h2 {
  border: none;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #ebd7bb;
  background-color: #2a2c30;
  text-align: center;
}

.secondContainer {
  min-height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-image: url("../img/background.jpg");
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 -5px 34px rgba(0,0,0,0.19), 0 -3px 10px rgba(0,0,0,0.23);
}

.pageDescription {
  max-width:900px;
  font-size: 25px;
  color: white;
 
  position: relative;
  text-align: center;
  top: 7%;
  padding-bottom: 60px;
}


