/* @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic,cyrillic-ext,latin-ext');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  /* parallax efekt*/
  min-height: 100vh;
}

p {
  line-height: 25px;
}

/*zacina sekce pro menu*/

#navbar {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 6;
  display: block;
}

/* input je checkbox, ktery ma pozici 3 a opacity 0
takze je zobrazen v popredi a ridi interakci
pseudoselekci :checked */

#navbar input {
  display: block;
  width: 50px;
  height: 35px;
  position: fixed;
  float: right;
  clear: right;
  top: 25px;
  right: 40px;
  opacity: 0;
  z-index: 7;
  cursor: pointer;
}

/* vykresleni hamburger menu a jeho animace */

#hamburgerSpan1, #hamburgerSpan2, #hamburgerSpan3 {
  display: block;
  width: 33px;
  height: 4.5px;
  position: fixed;
  float: right;
  clear: right;
  top: 30px;
  right: 50px;
  background: rgb(255, 255, 255);
  border-radius: 2.5px;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* tohle jsou transition duration pro vsechny zmeny*/
  -webkit-transition: .40s ease-in-out;
  -moz-transition: .40s ease-in-out;
  -o-transition: .40s ease-in-out;
  transition: .40s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.6);
}

/*pozice fixed to dala na jedno misto, tak jsem je musel jednotlive posunout*/

#hamburgerSpan2 {
  top: 39px;
}

#hamburgerSpan3 {
  top: 49px;
}

#navbar input:checked~#hamburgerSpan1 {
  top: 44px;
  right: 48px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  border-radius: 6px;
  height: 5px;
  width:16px;
  box-shadow: none;
}

/*sjede do pravy prdele a zmizi prdele*/

#navbar input:checked~#hamburgerSpan2 {
  right: 49.5px;
  width: 28px;
  /* transform-origin: 10px 0px; */
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  box-shadow: none;
}

#navbar input:checked~#hamburgerSpan3 {
  top: 34px;
    right: 47.8px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  transform: rotate(-315deg);
  height: 5px;
  border-radius: 6px;
  width: 16px;
  box-shadow: none;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  padding-top: 230px;
  right: 0;
  background: rgba(20, 38, 87, 1);
  list-style-type: none;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform: translate( 100%, -0%);
  -webkit-transform: translate( 100%, -0%);
  -moz-transform: translate( 100%, -0%);
  -o-transform: translate( 100%, -0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-align: center;
  z-index: 3;
}

/*pozice itemu vuci hamburgeru je nyni presne dana
pokud se zvetsi napr. font musi se pozicovani predelat*/

.menu li {
  font-size: 30px;
  margin-left: 10px;
  display: block;
  padding-bottom: 30px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  /* opacity: 0; */
}

.menu a:hover {
  color: #b9c4ff;
}

#navbar input:checked~ul {
  transform: none;
  /*cely menu je posunuto transformaci -100%,
  checknuti checkboxu transformaci zrusi a menu sjede*/
}

/*konci sekce pro menu*/

.logoSmallDiv {
  position: fixed;
  top: 0;
  left:0;
  box-sizing: border-box;
  height: auto;
  z-index: 5;
}

#logoSmall {
  margin: 13px;
  width: calc(669px * 0.10);
  height: calc(582px * 0.10);
  cursor: pointer;
}

/*jeden div je mainContainer, kterej je vzdy vysoky tak, aby paticka byla na konci stranky.
 Je bran v potaz hard coded height paticky*/

.mainContainer {
  min-height: calc(100vh - 61px);
  padding-top: 80px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.pageHeader {
  font-size: 100px;
  max-width: 1200px;
  color: white;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding-bottom: 40px;
  position: relative;
}

.paragraphWrapper {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#paragraphMasaze   {
  max-width: 1200px;
  /* font-size: 15px; */
  color: black;
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#tabs {
  display: flex;
  background-color: #142657;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  border: 15px solid white;
}

#tab-bar-border {
  position: absolute;
  /* width: 100px; */
  height: 5px;
  background-color: #fff;
  display: none;
  transition: all 0.2s ease-in-out;
}

.box {
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.box h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: white;
}

#wrapperBoxContent {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;

}


.boxContent {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 60px;
  padding-top:40px;
  box-sizing: border-box;
  display: none;
  opacity: 1;
  transition: all .3s ease;
  animation: grow .3s ease;
}

.vyzivaContent {
  display: block;
  display: flex;
  flex-direction: row;

}

#boxContent1 {
  display: block;
}

.boxContentPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  padding-left: 20px;
}

.massageList {
  margin-bottom: 50px;
}
.masazeInfo {
  margin-top: 50px;
}

.active {
  border-bottom: solid 5px #fff;
}

.active:hover{
  box-shadow: none;
  cursor: default;
}

.active:hover h2 {
  border: none;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #ebd7bb;
  background-color: #2a2c30;
  text-align: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  //padding: 1em;
}

.containerContact {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

}

ul {
  list-style: square;
  line-height: 25px;
}


.wrapper {
  
}

.wrapper>* {
  padding: 1em;
}


.company-info {
  background: #142657; opacity:0.8;
  color: white;
   
 
   border: 3px solid #ffffff;
   margin: 50px;
}

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #fff;
  margin: 1em 0;
  padding: 20px;
}
.contact {
  background: #142657; opacity:0.8;
  color:  #ffffff;
  
   border: 3px solid #ffffff;
   font-weight: bold;
   text-align: center;
}

.contact h3 {
  
}
/* FORM STYLES */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}

.contact form label {
  display: block;
  color:  #ffffff;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form textarea:focus {
outline: none;
 }
 
.contact form textarea {
  color: black;
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;
   
 }
 
 .contact form button {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;
     
   font-weight: bold;
   color: white;
}
.contact form input:focus {
outline: none;
 }
.contact form input {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;

   font-weight: bold;
}

.contact form textarea {
  resize: vertical;
}

.contact form button {
  background: #142657;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 200px;
  border: 3px solid #ffffff;
}

.contact form button:hover, .contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 0.5s ease-out;
}

@media(min-width:930px){
    .row {
      align-items: baseline;
      padding-top: 20px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      /* max-height: 800px; */
      justify-content: center;
      max-width: 100%;
      margin-top: 30px;
	  color: #142657;
	  background: white;
    }
  
    .row2 {
      background: #142657;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 50px;
  }
 }
 
 .row3 {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .row4 {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .column {
   margin-right: 50px;
   margin-bottom: 20px;
 } 
 
 .no-margin-column {
   margin-right: 0;
 }

 .column2 {
   flex: 50%;
 }
 .column2 > h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  top: 7%;
  position: relative;
}
 .column3 {
     color: white;
     font-weight: bold;
     font-size: 2em;
     text-align: center;
     /* max-width: 600px; */
     margin: 20px;
     display: flex;
     flex-direction: row;
 }
 
  .column4 {
     background: white;
	 color: #142657;
     font-weight: bold;
     font-size: 2em;
     text-align: center;
     width: 100%;
 }
 
  .column4 > h2 {
  font-size: 40px;
  color: #142657;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px;
  top: 7%;
  position: relative;
}
 
.column > h2 {
  font-size: 40px;
  color: #142657;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  top: 7%;
  position: relative;
}

.column > p{
  max-width:900px;
  font-size: 25px;
  color: #142657;
  margin: 0 auto;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 7%;
}

.column4 > p{
  max-width: 600px;
  font-size: 25px;
  color: #142657;
  margin: 0 auto;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 7%;
  padding-bottom: 20px;
}


.column3 > p, .column2 > p {
  max-width:900px;
  font-size: 25px;
  color: white;
  margin: 0 auto;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 7%;
}

.pageDescription {
  max-width:900px;
  font-size: 25px;
  color: white;
  margin: 0 auto;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 7%;
  padding-bottom: 60px;
}