/* @import url('https://fonts.googleapis.com/css?family=Abril+Fatface:400,700&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan:400,700&subset=latin-ext');



body, html {
  margin: 0;
  padding: 0;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Baloo Chettan', cursive;
  min-height: 100vh;
  padding-left:50px;
  padding-right: 50px;
}

p {
  line-height: 25px;
}

#navbar-web {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#navbar-mobile {
  display: none;
}

.menu-web {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  text-align: center;
  z-index: 3;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.menu-active {
  border-bottom: 5px solid #142657;
  border-radius: 5px;
  font-weight: bold;
}

.menu-web > li {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  color: #142657;
}

.menu-web > li > a, .menu-mobile > li > a {
  text-decoration: none;
  color: #142657;
  font-size: 22px;
}

.logoSmallDiv {
  position: fixed;
  top: 0;
  left:0;
  box-sizing: border-box;
  height: auto;
  z-index: 5;
}

#logoSmall {
  margin: 13px;
  width: calc(669px * 0.10);
  height: calc(582px * 0.10);
  cursor: pointer;
}

/*jeden div je mainContainer, kterej je vzdy vysoky tak, aby paticka byla na konci stranky.
 Je bran v potaz hard coded height paticky*/

.mainContainer {
  min-height: calc(100vh - 61px);
  padding-top: 40px;
  width: 100%;
  box-sizing: border-box;
  /* max-width: 1200px; */
  margin: 0 auto;
  text-align: left;
}

.pageHeader {
  font-size: 100px;
  max-width: 1200px;
  color: white;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}

.paragraphWrapper {
  border: solid #fff 8px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  border-radius: 5px;
}

.paragraphWrapperBorder {
  max-width: 1200px;
  border: solid #142657 8px;
  background-color: rgba(255,255,255,0.85);
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; 
  margin: 0 auto;
  text-align: justify;
}

#paragraphMasaze   {
  max-width: 1200px;
  color: black;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.masazeImgDiv {
  min-width: 300px;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.masazeImgDiv > img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}


#tabs {
  display: flex;
  color: #142657;
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #142657;
}

.box {
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.box h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  /* color: white; */
}

#wrapperBoxContent {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;

}


.boxContent {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  padding: 60px;
  padding-top:40px;
  box-sizing: border-box;
  display: none;
  opacity: 1;
  transition: all .3s ease;
  /* animation: grow .3s ease; */
}

.vyzivaContent {
  display: flex;
  flex-direction: column;
  padding:30px;
}

.obrazek_just {
  min-width:1200px;
  align-items: center;
}

.just_img {
  display: flex;
  display: block;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
}

.justContent {
  display: flex;
  flex-direction: row;
}

.boxContentPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  padding-left: 20px;
}

.massageList {
  margin-bottom: 50px;
}
.masazeInfo {
  margin-top: 50px;
}

.active {
  border-bottom: solid 5px #142657;
  border-radius: 5px;
}

.active:hover{
  box-shadow: none;
}

.active:hover h2 {
  border: none;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #ebd7bb;
  background-color: #2a2c30;
  text-align: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.secondContainer {
  min-height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-image: url("../img/background.jpg");
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 -5px 34px rgba(0,0,0,0.19), 0 -3px 10px rgba(0,0,0,0.23);
}

.pageDescription {
 max-width:900px;
 font-size: 25px;
 color: white;
 position: relative;
 text-align: center;
 top: 7%;
 padding-bottom: 60px;
}

.containerContact {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

}

ul {
  list-style: square;
  line-height: 25px;
}


.wrapper>* {
  padding: 1em;
}


.company-info {
  background: #142657; opacity:0.8;
  color: white;
   
 
   border: 3px solid #ffffff;
   margin: 50px;
}

.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #fff;
  margin: 1em 0;
  padding: 20px;
}
.contact {
  background: #142657; opacity:0.8;
  color:  #ffffff;
  
   border: 3px solid #ffffff;
   font-weight: bold;
   text-align: center;
}

.contact h3 {
  
}
/* FORM STYLES */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}

.contact form label {
  display: block;
  color:  #ffffff;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form textarea:focus {
outline: none;
 }
 
.contact form textarea {
  color: black;
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;
   
 }
 
 .contact form button {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;
     
   font-weight: bold;
   color: white;
}
.contact form input:focus {
outline: none;
 }
.contact form input {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  box-sizing: border-box;

   font-weight: bold;
}

.contact form textarea {
  resize: vertical;
}

.contact form button {
  background: #142657;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 200px;
  border: 3px solid #ffffff;
}

.contact form button:hover, .contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 0.5s ease-out;
}
.secondContainer {
  min-height: 100%;
  border-radius: 10px;
  margin: 10px;
  background-image: url("../img/background.jpg");
  padding: 50px;
  box-sizing: border-box;
}
.secondContainer_homepage_bottom {
  min-height: 500px;
  border-radius: 10px;
  margin: 10px;
  background-image: url("../img/large_portrait.jpeg");
  padding: 50px;
  box-sizing: border-box;
}


/* @media(min-width:930px){ */
    .row {
      align-items: baseline;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
	  color: #142657;
	   padding-left: 50px;
 padding-right: 50px;
    }
  
    .row2 {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
	  color: #142657;
  }
 
 
 .row3 {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: center;
     padding-top:20px;
 }
  
 .column {
 
 border-radius: 5px;
 } 
 
.column > img {
  margin: 10px;
  max-width: 270px;
  } 
  
.column > h2 {
  font-size: 25px;
  color: #142657;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  top: 7%;
  position: relative;
  max-width: 1200px;
}

.column > p{
  font-size: 18px;
  color: #142657;
  margin: 0 auto;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 7%;
  max-width: 1200px;
}
 

 .column2 {
   flex: 50%;
   max-width: 1000px;
  
 }
 .column2 > h2 {
  font-size: 30px;
  color: #142657;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  max-width:1000px;
}

.column2 > p {
    font-size: 20px;
  color: black;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
  text-align: left;
  max-width:1000px; ;
}

 .column3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    }

    .column3_just {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
     
      justify-content: center;
      box-shadow: none;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
      }
	
	.column3 > p {
  padding-left: 50px;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding-top: 30px;
  font-weight: 700;
}

    .profilovka {
      min-width: 250px;
      width: 250px;
      height: 250px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    .profilovka > img {
      margin: 0 auto;
      height: 110%;
      width: 100%;
    }
    .profilovka_just > img {
   
      height: 300px;
      width: 300px;
    }
 
  .p_home {
    font-size: 22px;
    color: #142657;
    padding-left: 7%;
    padding-top:10%;

  }




.pageDescription {
  max-width:620px;
  font-size: 25px;
  color: white;
 
  position: relative;
  text-align: center;
  top: 7%;
  padding-bottom: 30px;
}

.pageDescription2 {
  font-size: 30px;
 color: #142657;
  position: relative;
  text-align: center;
  padding: 50px;
 
  justify-content: center;
  display: flex;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: auto;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #142657;
}




